.navbar-lewagon {
  background: rgba(255, 255, 255, 0.9);
  text-align:right;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.dropdown-text {
  color: black;
  &:hover {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
  }
}

.navbar-item:active {
  color: black;
}
